@using System.Text.Json;

<MudCard Elevation="1" Class="ma-2 rounded-lg" @onclick="() => ClickEdit(Thing.Id)" @onmouseover="MouseOver" @onmouseout="MouseOut">
    <MudCardContent Class="ma-0 pa-0">
        <div class="thing-item-wrapper">
            <MudImage ObjectPosition="ObjectPosition.Center" Width="220" Height="300" ObjectFit="ObjectFit.Cover" Src="@Thing.Thumbnail?.Url"></MudImage>
            <div class="thing-item-header">
                <p class="text-elipsis">@Thing.Title </p>
                <small>@Thing.Type.Name</small>
            </div>

            <MudCardActions class="@activeClass">
                <MudIconButton Icon="@Icons.Material.Filled.Download" Variant="Variant.Filled" Color="Color.Primary" />
                <MudIconButton Class="mx-4" Icon="@Icons.Material.Filled.DocumentScanner" Variant="Variant.Filled" Color="Color.Primary" />
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Primary" @onclick="() => ClickEdit(Thing.Id)" />
            </MudCardActions>

        </div>
    </MudCardContent>
</MudCard>


@code {
    [Parameter]
    public IThings_Things_Nodes Thing { get; set; }

    [Inject]
    public NavigationManager Navigation { get; set; }


    private bool _visible = true;

    string activeClass = "thing-item-footer";


    private void MouseOver()
    {
        activeClass = "thing-item-footer active";
    }

    private void MouseOut(MouseEventArgs e)
    {
        activeClass = "thing-item-footer";
    }

    private void ClickEdit(string id)
    {
        Navigation.NavigateTo(Routing.Things.GetDetails(id));
    }
}
